{% extends 'base.html' %}

{% block content %}
    <h1>글작성</h1>
    <hr>
    <form action="{% url 'articles:create' %}" method="POST">
        {% comment %} POST 쓰는 순간 무조건... csrf 넣어줘야함 그리고 서버 껏다켜 {% endcomment %}
        {% csrf_token %}
        <label for="title">제목: </label>
        <input type="text" name="title" id="title"><br>

        <label for="content">내용: </label>
        <input type="text" name="content" id="content">

        <input type="submit">


    </form>
{% endblock  %}