{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <hr />
    <p> <b> {{movie.title}} </b> </p>
    <p> 관객 수 : {{movie.audience}} </p>
    <p> 개봉일 : {{movie.release_date}} </p>
    <p> 장르 : {{movie.genre}} </p>
    <p> 평점 ★ : {{movie.score}} </p>
    <p> 포스터 : {{movie.poster_url}} </p>
    <p> 대표배우: {% if movie.actor_image%}
        <img src="{{movie.actor_image.url}} " alt="">
        {% endif %}</p>
    <p> 줄거리 : {{movie.description}} </p>

    <a href="{%url 'movies:update' movie.pk %}"> UPDATE </a><br>
    <form action="{% url 'movies:delete' movie.pk %}" id="delete-form">
        {% csrf_token %}
        <input type="submit" value="DELETE" id="delete-btn" />
    </form><br>
    <a href="{%url 'movies:index'%}"> BACK </a>
    

{% endblock  %}